<%- include("template/cabecera",{tituloweb:"Detalle de Mascota"}) %>



  <h2 class="text-center">Detalle Producto</h2>
  <div class="container">
    <% if (error) { %>
      <p>
        <%= mensaje %>
      </p>
      <a href="/productos" class="btn btn-dark btn-block">Regresar a Productos</a>
      <% } %>
        <% if (!error) { %>
          <form id="formularioEditar" data-id="<%= producto.id %>">
            <input type="text" class="form-control my-2" name="nombre" value="<%= producto.nombre%>" id="nombreInput">
            <input type="text" class="form-control my-2" name="precio" value="<%= producto.precio%>" id="precioInput">
            <input type="text" class="form-control my-2" name="cantidad" value="<%= producto.cantidad%>"
              id="cantidadInput">
            <input type="text" class="form-control my-2" name="procesador" value="<%= producto.procesador%>"
              id="procesadorInput">
            <input type="text" class="form-control my-2" name="ram" value="<%= producto.ram%>" id="ramInput">
            <input type="text" class="form-control my-2" name="hdd" value="<%= producto.hdd%>" id="hddInput">
            <input type="text" class="form-control my-2" name="so" value="<%= producto.so%>" id="soInput">
            <input type="text" class="form-control my-2" name="deterioro" value="<%= producto.deterioro%>"
              id="deterioroInput">
            <button class="btn btn-warning btn-block" type="submit">Guardar Cambios</button>
          </form>
          <hr>
          <button href="#" class="btn btn-danger btn-small text-white mt-5" id="btnEliminar"
            data-id="<%= producto.id %>"><i class="far fa-trash-alt"></i></button>

          <% } %>
  </div>

  <%- include("template/footer") %>

    <script>
      const btnEliminar = document.querySelector("#btnEliminar");
      btnEliminar.addEventListener("click", async () => {
        console.log("me diste click")
        const id = btnEliminar.dataset.id
        console.log("id", id)
        try {
          const data = await fetch(`/productos/${id}`, {
            method: "delete"
          })
          const res = await data.json()
          if (res.estado) {
            window.location.href = "/productos"
          } else {

            console.log(res)
          }
        } catch (error) {
          console.log(error)
        }
      })

      const formularioEditar = document.querySelector("#formularioEditar")

      formularioEditar.addEventListener("submit", async (e) => {
        e.preventDefault()

        const id = formularioEditar.dataset.id
        const nombre = formularioEditar.querySelector("#nombreInput").value
        const precio = formularioEditar.querySelector("#precioInput").value
        const procesador = formularioEditar.querySelector("#procesadorInput").value
        const ram = formularioEditar.querySelector("#ramInput").value
        const hdd = formularioEditar.querySelector("#hddInput").value
        const so = formularioEditar.querySelector("#soInput").value
        const deterioro = formularioEditar.querySelector("#deterioroInput").value
        const cantidad = formularioEditar.querySelector("#cantidadInput").value

        try {
          const data = await fetch(`/productos/${id}`, {
            method: "put",
            headers: {
              "Content-Type": "application/json"
            },
            body: JSON.stringify({
              nombre: nombre,
              precio: precio,
              procesador: procesador,
              cantidad: cantidad
            })
          })
          const res = await data.json()
          console.log(res)
          if (res.estado) {
            window.location.href = "/productos"
          } else {
            console.log(res)
          }
        } catch (error) {
          console.log(error)
        }
      })
    </script>